#F{
    list-style-image: url(../IMG/ferarim.png);
    margin-left: 20px;
}
#B{
    list-style-image: url(../IMG/bmwm.png);
    margin-left: 20px;
}
#A{
    list-style-image: url(../IMG/audim.png);
    margin-left: 20px;
}
